<div class="container">
  <h1>Dashboard</h1>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Your Pets</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Your Pets Booked</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Bookings Created</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="container mb-5">
        <div class="container">
          <div class="row">
              <% @pets.each do |pet| %>
                <div class="col-4">
                  <div class="card">
                    <%= cl_image_tag pet.photo.key, height: 300, width: 400, class: "w-100", crop: :fill %>
                    <div class="card-body">
                    <h4 class="card-title"><%= pet.name %></h4>
                    <p class="card-text"><%= pet.description %></p>
                    <%= link_to "See Profile", pet_path(pet), class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <% @bookings.each do |b| %>
              <div class="col-4">
                <div class="card">
                  <div class="card-body">
                  <h4 class="card-title"><%= b.id %></h4>
                  <p class="card-text"><%= b.start_date %></p>
                  <p class="card-text"><%= b.end_date %></p>
                  </div>
                </div>
              </div>

          <% end %>
      </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <% @current_user_bookings.each do |b| %>
              <div class="col-4">
                <div class="card">
                  <div class="card-body">
                  <h4 class="card-title"><%= b.id %></h4>
                  <p class="card-text"><%= b.start_date %></p>
                  <p class="card-text"><%= b.end_date %></p>
                  </div>
                </div>
              </div>

          <% end %>
        </div>
      </div>
  </div>
</div>
