<div class="p-5">
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :pet_type, :collection => %w[Dog Cat Other] %>
  <%= f.input :available, :collection => %w[Available Unavailable Booked] %>
  <%= f.input :available_from, hint: ("Please specify the days you require a sitter") %>
  <%= f.input :available_till %>
  <%= f.input :booking_requirements, hint: ("Please specify any booking requirements")  %>
  <%= f.submit  %>
<% end %>
</div>
