<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Welcome to Paws</h1>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3 class="mb-0">These Pets Need a Sitter</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
      <% if pet.available == "Available" || pet.available == "Booked" && pet.user != current_user %>
        <div class="col-4">
          <div class="card">
            <%= cl_image_tag pet.photo.key, height: 300, width: 400, class: "w-100", crop: :fill %>
            <div class="card-body">
            <h4 class="card-title"><%= "#{pet.name} (#{pet.pet_type})" %></h4>
            <p class="card-text"><%= pet.description %></p>
            <p class="card-text"><%= "Owner: #{pet.user.first_name}" %></p>
            <p class="card-text"><%= "Status: #{pet.available}" %></p>
            <p class="card-text"><%= "Dates: #{pet.available_from} - #{pet.available_till}" %></p>
            <%= link_to "See Profile", pet_path(pet), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
