<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js"></h3>
  </div>

<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">

    </li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" id = "cover">
    <div class="carousel-item active">
      <img class="d-block w-100" style = "height: 500px" src= "<%= image_path "dog.jpg" %>" alt="First slide">

</div>
    </div>
    <div class="carousel-item" id = "cover">
      <img class="d-block w-100" style = "height: 500px" src= "<%= image_path "dog2.jpg" %>" alt="Second slide">
    </div>
    <div class="carousel-item" id = "cover">
      <img class="d-block w-100" style = "height: 500px" src="<%= image_path "dog3.jpg" %>" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<div class="container mt-3">
<h3 class = "text-center mb-5">Pets that need a Sitter!</h3>
  <div class="row">
    <% @pets.each do |pet| %>
      <% if pet.available == "Available" || pet.available == "Booked" && pet.user != current_user %>
        <div class="col-4">
          <div class="card">
            <%= cl_image_tag pet.photo.key, height: 300, width: 400, class: "w-100", id: "w-100", crop: :fill %>
            <div class="card-body">
            <h4 class="card-title"><%= "#{pet.name} (#{pet.pet_type})" %></h4>
            <p class="card-text"><%= pet.description %></p>
            <p class="card-text"><%= "Dates: #{pet.available_from} - #{pet.available_till}" %></p>
            <%= link_to "See Profile", pet_path(pet), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
