<div class="p-5">
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :pet_type, :collection => %w[Dog Cat Bird Other] %>
  <%= f.input :available, :collection => %w[Available Unavailable] %>
  <%= f.submit %>
<% end %>
</div>
