

<div class="container mb-5">
  <div class="row my-2">
    <% @pet.users.each do |pet| %>
    <% end %>
  </div>



<div>
<%= cl_image_tag @pet.photo.key, height: 300, width: 500 %>
<h3><%= @pet.name %></h3>
<p><%= @pet.description %></p>
<%= link_to "Book this pet", new_pet_booking_path(@pet) %>
<%= link_to "Show booking for this pet", booking_path(@pet) %>
<h3><%= @user.first_name %></h3>
</div>
