<div class="container p-5 " >
  <div class="row g-5">
    <div class="col-7">
      <div class="card shadow-sm" >
        <%= cl_image_tag @pet.photo.key, height: 300, width: 400, class: "w-100", id: "w-100", crop: :fill %>
        <div class="card-body">
          <h4 class="card-title"><%= @pet.name %></h4>
          <p class="card-text"><%= @pet.description %></p>
          <% if @pet.available == "Available" %>
            <p class="text-success">Requires a Sitter </p>
            <p class="card-text"><strong>Dates: </strong><%= "#{@pet.available_from} - #{@pet.available_till}" %></p>
            <p class="card-text"><strong>Requirements: </strong><%= @pet.booking_requirements %></p>
          <% elsif @pet.available == "Booked" %>
            <p class="text-success">This Pet is Booked</p>
          <% elsif @pet.available == "Unavailable" %>
            <p class="text-warning">Doesnt Require a Sitter</p>
          <% end %>
          <% if current_user == @user %>
            <%= link_to "Edit", edit_pet_path(@pet) %> |
            <%= link_to "Delete",
                        pet_path(@pet),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
            <br>
          <% end %>
          <% # Cant view the bookings if its not your pet i.e. Only pet owners can view the bookings from this page %>
          <% if @pet.user == current_user %>
            <%= link_to "View Bookings", pet_bookings_path(@pet) %>
          <% elsif @pet.user != current_user && @pet.available == "Available" %>
            <%= link_to "Apply to be the Sitter", new_pet_booking_path(@pet), class: "btn btn-primary btn-block mb-2" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, class: "w-100", crop: :fill %>
        <div class="d-flex p-1 mt-2">
          <div class="profile container">
            <div class="card-body">
              <h6 class="text-center"><strong>Contact this Pet's Owner</strong></h6>
              <p class="card-text text-center"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
              <%= link_to "Contact #{@user.first_name.capitalize}", pet_path(@pet), class: "btn btn-primary btn-block mb-2 " %>
              <hr>
              <p style="text-align:center;">Cancellation policy: Flexible</p>
              <div class="credit-cards" style="text-align:center; width: 100%">
                <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
                <img height="40" class = "ml-3" src="https://shoplineimg.com/assets/footer/card_master.png"/>
                <img height="40" class = "ml-3" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
