<div class="p-5">
  <%# # User should be able see, create, edit and delete his pets
  # user should be able to view all his details, edit %>

  <div class="profile container d-flex">
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "rounded" %>
    <div class="info pl-5">
      <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>
      <p><%= @user.email %></p>
      <p><%= @user.address.capitalize %></p>
      <p><strong>Pet: </strong><%= @user.user_type %></p>
      <div class="action-routes">
        <td><%= link_to 'Edit Profile', edit_user_path(@user), class: "ml-3 text-warning text-decoration-none" %></td>
        <td><%= link_to 'Change Password', edit_user_registration_path(@user), class: "ml-3 text-warning text-decoration-none" %></td>
        <%# <td><%= link_to 'Show Pets', pets(@user.pets), class: "ml-3 text-warning text-decoration-none"></td> %>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <% if current_user.user_type != "sitter" %>
    <h3 class='text-center'>Your Pets</h3>
  <% end %>
  <div class="pets container">
    <div class="cards d-flex">
      <% @pets.each do |pet| %>
        <div class="card-user">
          <%= cl_image_tag pet.photo.key, height: 300, width: 400, class: "w-100", crop: :fill %>
          <div class="card-body">
            <h4 class="card-title"><%= pet.name %></h4>
            <p class="card-text"><%= pet.description %></p>
            <% if pet.available == 0 %>
              <p class="text-success">Requires a Sitter</p>
            <% elsif pet.available == 2 %>
              <p class="text-success">This Pet is Booked</p>
            <% else %>
              <p class="text-warning">Doesnt Require a Sitter</p>
            <% end %>
            <%= link_to "See Profile", pet_path(pet), class: "btn btn-primary" %>
            <%= link_to "Edit Profile", edit_pet_path(pet), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
