<div id="profile">
  <div class="d-flex">
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "rounded" %>
    <div class="info pl-5">
      <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>
      <p><%= @user.email %></p>
      <p><%= @user.address.capitalize %></p>
      <p><strong>User Type: </strong><%= @user.user_type.capitalize %></p>
      <%# If the user viewing this page is not viewing his/her own profile hide these actions %>
      <% if current_user == @user %>
        <div class="action-routes">
          <td><%= link_to "Edit Profile", edit_user_path(@user), class: "text-warning text-decoration-none mr-3" %></td>
          <td><%= link_to "Change Password", edit_user_registration_path(@user), class: "text-warning text-decoration-none" %></td>        </div>
      <% end %>
    </div>
  </div>
  <br>
  <% if @user.profile %>
    <h6><strong>Profile</strong></h6>
    <p><%= @user.profile %></p>
  <% end %>
</div>
<% if @user.user_type != "sitter" %>
  <br><hr>
  <h3 class='text-center mb-5'>Your Pets</h3>
<% end %>
<div class="pets container mb-5">
  <div class="cards d-flex">
    <% @pets.each do |pet| %>
      <div class="card-user">
        <%= cl_image_tag pet.photo.key, height: 300, width: 400, class: "w-100", crop: :fill %>
        <div class="card-body">
          <h4 class="card-title"><%= pet.name %></h4>
          <p class="card-text"><%= pet.description %></p>
          <% if pet.available == "Available" || pet.available == 0%>
            <p class="text-success">Requires a Sitter</p>
          <% elsif pet.available == "Booked" || pet.available == 2 %>
            <p class="text-success">This Pet is Booked</p>
          <% else %>
            <p class="text-warning">Doesnt Require a Sitter</p>
          <% end %>
          <%= link_to "See Profile", pet_path(pet), class: "btn btn-primary" %>
          <%= link_to "Edit Profile", edit_pet_path(pet), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
